body {
  font-family: Arial, sans-serif;
  background-image: url("demonslayer.jpg");

  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar::before {
  content: "";
  background-color: #333;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

.navleft {
  margin-left: auto;
}

.navleft ul {
  display: flex;
}

.navleft ul li {
  font-size: 1.2rem;
  list-style: none;
}

.navleft ul li a {
  display: block;
  padding: 2px 10px;
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navleft ul li a:hover {
  color: orangered;
}

.navbar img {
  width: 80px;
  padding: 10px;
}

h1 {
  margin: 0;
}

.container {
  text-align: center;
  max-width: 1240;
  margin: 0 auto;
  padding: 20px;
}

.art-piece {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 22px;
  text-align: center;
  width: 280px;
  display: inline-block;
  margin: 10px;
}

.art-piece img {
  max-width: 100%;
  height: auto;
}

.art-title {
  font-size: 24px;
  margin: 10px 0;
}

.art-description {
  margin: 10px 0;
}

.art-price {
  font-size: 18px;
  color: #ff5722;
  margin: 10px 0;
}
.btn {
  padding: 10px;
  font-size: 15px;
  background: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.07);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px rgba(243, 243, 99, 0.974);
}
.siteFooter {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.mid {
  padding: 7px;
  margin-left: 2px;
}

.footer-nav {
  padding: 10px;
  text-align: right;
}

.extra-info {
  flex: 1;
  margin: 0 60px;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.extra-info a {
  color: #fff;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav li {
  margin: 15px 0;
}

.footer-nav a {
  text-decoration: none;
  color: #fff;
}

.link a:hover {
  color: #ff5722;
}

.footer-tag {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.footer-tag .fa-brands {
  margin: 10px 8px;
}
.footer-tag i:hover {
  color: #ff5722;
}

@media screen and (max-width: 1006px) {
  .art-piece {
    padding: 8px;
  }
  .footer-nav {
    text-align: left;
  }
  .footer-nav ul {
    padding-left: 20px;
  }
  .extra-info {
    padding-left: 20px;
  }
  .art-piece {
    width: 50%;
  }

  footer.siteFooter {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 1006px) {
  .art-piece {
    padding: 8px;
  }

  .footer-nav {
    text-align: left;
  }
  .footer-nav ul {
    padding-left: 20px;
  }
  .extra-info {
    padding-left: 20px;
  }
  .art-piece {
    width: 50%;
  }

  footer.siteFooter {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 1001px) {
  .art-piece {
    padding: 7px;
  }

  .footer-nav {
    text-align: left;
  }
  .footer-nav ul {
    padding-left: 20px;
  }
  .extra-info {
    padding-left: 20px;
  }
  .art-piece {
    width: 50%;
  }

  footer.siteFooter {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 966px) {
  .art-piece {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 50%;
    display: inline-block;
    margin: 34px;
  }

  footer.siteFooter {
    width: 100%;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 435px) {
  .siteFooter {
    flex-direction: column;
  }
} */

@media screen and (max-width: 360px) {
  header {
    padding: 7px 3px;
    width: 100%;
  }

  footer.siteFooter {
    width: 100%;
    flex-direction: column;
  }

  .mid img {
    width: 80px;
  }

  .extra-info {
    padding-left: 37px;
  }
}
